<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/estilo.css" />
    <title>Spider No Way Home</title>
  </head>
  <body class="bg-dark">
    <div class="container-fluid">
      <div class="row bg-black">
        <div
          class="
            col-6 col-xl-1
            d-flex
            rounded
            bg-white
            ms-5
            justify-content-center
          "
        >
          <span class="fs-6"
            ><img height="30px" src="./images/logo.png" alt="" />Pelicula</span
          >
        </div>
      </div>
      <div class="back">
        <div class="container">
          <div class="row">
            <h2>Nuevo trailer de Spider-Man</h2>
          </div>
          <div class="row">
            <div class="col-12 col-xl-6">
              <div class="container mb-2 mb-xl-0">
                <img class="img-fluid" src="./images/Imagen1.jpg" alt="" />
              </div>
            </div>
            <div class="col-12 col-xl-6 rounded texto">
              <p>
                Los rumores se hicieron fuertes la semana pasada: el tráiler de
                Spider-Man: No Way Home sería revelado durante la CinemaConque
                se celebró durante este pasado fin de semana en Las Vegas, un
                evento exclusivo a puerta cerrada en el que, supuestamente, los
                asistentes tendrían esa primicia de la película de Marvel
                Studios. Y ahora, como era de esperarse, alguien supuestamente
                filtró el tráiler en Tiktok. ¿Pero es real? Analicémoslo.
              </p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-xl-6 rounded texto">
              <p>
                En primer lugar, aparecen los tres villanos que ya esperábamos.
                Se puede ver, por ejemplo, a un hombre acumular electricidad, se
                puede ver una bomba (similar a las usadas por el Duende Verde)
                que aparece en medio de varios autos y al final se ve al Doctor
                Octopus de Alfred Molina, en un ambiente terroso, saludar a
                Peter Parker.
              </p>
              <p>
                Aunque la participación de Jamie Fox como Electro (otra vez)
                estaba supuestamente confirmada, no aparece su información
                dentro del elenco de la película, como sí aparece Alfred Molina
                en la página del IMDB de Spider-Man: No Way Home. Incluso se
                indica que actuará como el villano. Es decir, esto era algo ya
                sabido. En una parte, también se puede ver a Doctor Strange
                golpeando a Spider-Man con un gesto similar a cuando The Ancient
                One envió al mismo strange a un viaje astral. La imagen es
                impresionante, pero sospechosamente estática.
              </p>
            </div>
            <div class="col-12 col-xl-6">
              <div class="container mt-2 mb-xl-0">
                <img
                  class="img-fluid"
                  height="300px"
                  src="./images/Imagen2.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                Pero ahora sin más preambulo, les dejamos el link del trailer
                oficial
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col video-responsive">
              <iframe
                class="container"
                src="https://www.youtube.com/embed/WgU7P6o-GkM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="container mt-2 d-flex justify-content-center">
                <h3>Personajes principales</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Tabla -->
            <div class="col">
              <div class="container table-responsive">
                <table class="table table-dark table-striped" id="Tabla">
                  <thead>
                    <tr>
                      <th>Foto</th>
                      <th>Nombre</th>
                      <th>Edad</th>
                      <th>Nacionalidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img
                          id="Tom_img"
                          height="200px"
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Tom_Holland_by_Gage_Skidmore.jpg/1200px-Tom_Holland_by_Gage_Skidmore.jpg"
                          alt=""
                        />
                      </td>
                      <td id="Tom_name">Tom Holland</td>
                      <td>25</td>
                      <td>Inglés</td>
                    </tr>
                    <tr>
                      <td>
                        <img
                          id="Alfred_img"
                          height="200px"
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/AlfredMolinaByJustinHoch2009.jpg/260px-AlfredMolinaByJustinHoch2009.jpg"
                          alt=""
                        />
                      </td>
                      <td id="Alfred_name">Alfred Molina</td>
                      <td>68</td>
                      <td>Inglés</td>
                    </tr>
                    <tr>
                      <td>
                        <img
                          id="Zendaya_img"
                          height="200px"
                          src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Zendaya_2019_by_Glenn_Francis.jpg"
                          alt=""
                        />
                      </td>
                      <td id="Zendaya_name">Zendaya</td>
                      <td>24</td>
                      <td>Estadounidense</td>
                    </tr>
                    <tr>
                      <td>
                        <img
                          id="Benedict_img"
                          height="200px"
                          src="https://i2.wp.com/elanillounico.com/wp-content/uploads/2012/09/PremiereLDDS-LA18.jpg"
                          alt=""
                        />
                      </td>
                      <td id="Benedict_name">Benedict Cumberbatch</td>
                      <td>45</td>
                      <td>Inglés</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-evenly pt-2 pb-5">
            <div class="flex-col">
              <button onclick="regreso()" class="btn btn-primary">
                Presiona para regresar
              </button>
            </div>
            <div class="flex-col">
              <button ondblclick="cambio()" class="flex-fill btn btn-success">
                Doble click para cambiar
              </button>
            </div>
          </div>
          <!-- formulario -->
          <div class="row pb-5">
            <div class="col d-flex justify-content-center">
              <h2>Registro de usuario</h2>
            </div>
            <form action="#" method="get">
              <div class="form-control mb-5">
                <div class="row mb-2">
                  <div class="col-6 col-xl-1">
                    <label class="form-label" for="Nombre"> Nombre</label>
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      id="Nombre"
                      name="Nombre"
                    />
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-6 col-xl-1">
                    <label class="form-label" for="Apellido"> Apellido</label>
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      id="Apellido"
                      name="Apellido"
                    />
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-6 col-xl-1">
                    <label class="form-label" for="Usuario">Usuario</label>
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      id="Usuario"
                      name="Usuario"
                    />
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-6 col-xl-1">
                    <label class="form-label" for="Contraseña">
                      Contraseña</label
                    >
                  </div>
                  <div class="col">
                    <input
                      type="password"
                      class="form-control"
                      id="Contraseña"
                      name="Contraseña"
                    />
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-6 col-xl-1">
                    <label class="form-label" for="Email"> Email</label>
                  </div>
                  <div class="col">
                    <input
                      type="email"
                      class="form-control"
                      id="Email"
                      name="Email"
                    />
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-6 col-xl-1">
                    <label class="form-label" for="Nacimiento">
                      Día de nacimiento</label
                    >
                  </div>
                  <div class="col">
                    <input
                      type="date"
                      class="form-control"
                      id="Nacimiento"
                      name="Nacimiento"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col d-flex justify-content-evenly">
                  <input type="reset" class="btn btn-danger" />
                  <input type="submit" class="btn btn-primary" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- JS-->
    <script src="./js/scripts.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
